<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>SEO | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Search</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Search Engine Optimization</h1>
        <div class="row center">
          <h5 class="header col s12 light">"The key to getting more traffic lies in integrating content with search engine optimization and social media marketing"</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Learn Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 1"></div>
  </div>


  
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i>INFO nako..</h3>
            <h4></h4>
            <p class="left-align light">On-page SEO is the process of optimizing each and every web page of your site in order to rank higher in the Search Engine Results Pages while the Off-page SEO is about external link establishment and different signs you can provide for web indexes to persuade them about the quality and helpfulness of your site.</p>
          </div>
        </div>

      </div>
    </div>

  <section>
    <div class="container">
      <article class="techniques">
        <h6>Let us now learn more about the 5 on page SEO techniques for better rankings</h6>

        <p>
          Now that we already justified the difference between the on page seo and off page seo, let's now move on to the practical part.
        </p>
        <p>
          There are many on page SEO techniques and not only 5, but for the purpose of this post, I will only explain the most/absolute setting you have to apply on your website today.
        </p>
        <img src="img/seo-guides.png">
          <h6 class="title">1. Content comes first</h6>
          <p>
            A website with brilliant content can do great with or without SEO, a website with bad content will not survive with or without SEO, a website with good content can become even better with SEO!
          </p>

          <h6 class="title">2. Page title, description and formatting</h6>
          <p>
            This is SEO 101 yet critical for on-page SEO. At the point when web crawlers are "perusing" your pages, among the things, they check the page title, the portrayal of the page, the headings and substance (content, recordings and pictures).
          </p>
          <p>
            <b>Page titles</b> - Each page must have a unique title that will help both search engines and users understand what the page is about. A page with title “On Page SEO Tips” is better than a page with title “index.html”.
          </p>
          <p>
            <b>Descriptions</b> - The page description is what the searcher will see in the search engine results page. It has to be descriptive, up to 150 characters and unique for each page.
          </p>
          <p>
            <b>Formatting</b> -  A page needs to be properly formatted. Think of it like a report which needs to have a heading (h1) and sub headings (h2).
          </p>
          <p>
            <b>Images</b> - Images are important for presentation purposes but they should not increase the loading time of the website. Best practices for using images:

            <ol>
              <li>Use original images. If you need to use an existing image from the web you need to reference the source.</li>
              <li>Use an ALT tag to describe the image – This helps search engines understand what the image is about.</li>
              <li>Optimise the size of the images – the smaller the size (in bytes) of the image the better.</li>
            </ol>
          </p>

          <h6 class="title">3. URL Structure</h6>
          <p>The URL structure is an important part of on-page SEO. Whenever I talk about URL structure, I prefer to split it into 4 major parts:</p>
          <p><b>Permanent links</b> - A permanent link is the unique URL of each page. Good URLs should be less than 255 characters and use hyphens to ‘-‘separate the different parts</p>
          <p>For example a good URL is: <a href="hhttp://backlinko.com/on-page-seohhttp://backlinko.com/on-page-seo">http://backlinko.com/on-page-seo</a></p>
        <i>A bad URL is:</i>
        <p>https://www.reliablesoft.net/p?165 or <br>
        https://www.reliablesoft.net/seotipsforbeginners/ or <br>
        https://www.reliablesoft.net/123131/publish/data2/seo_Tips.html</p>
        <h6 class="title">4. Internal Linking</h6>
        <p>
          Linking to pages within your website is very important for SEO because:<br><br>
          <b>It’s a way to let search engines know about your other pages:</b> As explained above when search engines find a page with links, they will go and read those pages too, so you can use this technique to tell search engines about pages of your website they have not yet discovered. <br>
          <b>It’s a way to tell search engines which are your most important pages:</b>Every website has some pages that are more important than others. Internal linking is one of the ways to pinpoint the most important pages by sending them more internal links. <br>

          <strong>Best practices for internal linking:</strong>
          <ol>
            <li>Add internal links when they are useful for your reader</li>
            <li>Don’t use keywords only for your internal links</li>
            <li>No more than 15 internal links per page (this is my opinion and not based on any research or studies)</li>
          </ol>
        </p>
        <h6 class="title">5. Speed and Mobile</h6>
        <p>
          Last but not least, 2 SEO techniques that are becoming more and more important are Speed and Mobile friendliness. <br>
          <b>Speed: </b>Google is investing a huge amount of money to make the web faster. In every Google I/O someone will talk about the importance of speed and their desire to include the fastest websites in their index. <br>
          <b>Mobile Friendly: </b> Almost 60% of the searches in Google are now coming from mobile devices (Updated December 2016).
        </p>

        <h5 class="title">Let's now proceed to the off page techniques</h5>
        <p>
          There are lots of off page tecniques but I'll just specify 5 guides for off-page technique. <br>
          <h6 class="title">1: Create a 10x product or service</h6> <br>
          When your product or service is recognized as the best in its class, your job as SEO becomes much, much easier. <br>

          That’s because both online and offline, people are likely saying great things about the product and brand, which leads to visits to your website, positive reviews on third-party sites, and increased sales of the product. <br><br>

          <h6 class="title">2: Customer service</h6> <br>
          It’s not hard to imagine how poor customer service has made the brand’s SEO and PR teams’ reputation management efforts a nightmare <br><br>

          <h6 class="title">3: Focus on web searches's intent</h6> <br>
          Turns out the old cliche that “you attract more flies with honey than vinegar” is very relevant to SEO. People are typically more willing to buy and use your products and services if they can first find them. <br><br>

          <h6 class="title">4: Having a responsive social media presence</h6> <br>
          After using Google Autosuggest to find the answer, they’re likely to visit social media to learn more, ask questions, and interact with their friends, family members, and acquaintances  <br>

          It’s much easier than most brands think, too:

          <ol>
            <li>
              <b>Be there: </b> If you have a social media account, make sure someone is monitoring it and can answer questions and respond to comments in a timely fashion.
            </li>
            <li><b>Be human: </b>People online expect genuine interaction, not robotic responses or constant brand promotion.</li>
            <li><b>Be proactive: </b></li>
          </ol>
        </p>
        <p>
          As you can see, the price of unresponsiveness on social media negatively impacts far more than SEO:
        </p>
         <img src="img/unresponsiveness.png" >

         <h6 class="title">5. Build connections with social media/online influencers</h6>
         <p>When people say “Social media does nothing for my brand,” most SEOs must think, “Oh, but how wrong you are.”
          <br>
          Whether it’s the largely unmeasurable dark traffic social sends to your site or the connections with a base of people who could be customers or supporters at some point, social media can be an asset for any brand, if used wisely. </p>
      </article>
    </div>
  </section>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Course Bio</h5>
          <p class="grey-text text-lighten-4">I am currently studying Information Technology and learning the use of Search Engine Optimization by creating a blog website.</p>
        </div>

       
        <div class="col l3 s12" id="connect">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://facebook.com/OcreMat">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/hyperac1d">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hyperac1d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="brown-text text-lighten-3" href="#">Marco Matildo</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
